<!DOCTYPE html>
{% load static %}
<html class="has-navbar-fixed-top">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hello newbee!</title>
    <link rel="stylesheet" href="{% static 'css/bulma.min.css' %}">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>
<body>
<section class="hero is-fullheight-with-navbar is-bold">
    <div class="hero-head">
        <nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
                <a class="navbar-item" href="https://kpfu.ru/">
                    <img src="{% static 'img/KFU.png' %}" width="60" height="60" style="max-height: fit-content">
                </a>
            </div>
            <div id="navbarBasicExample" class="navbar-menu">
                <div class="navbar-start">
                    <a class="navbar-item">
                        Документация
                    </a>
                </div>
                <div class="navbar-end">
                    <div class="navbar-item">
                        <div class="buttons">
                            <a class="button is-primary" disabled="true">
                                <strong>Регистрация</strong>
                            </a>
                            <a class="button is-light" disabled="true">
                                Логин
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </div>
    <div class="hero-body" style="display: block">
        <div class="container" style="max-width: 100%">
            <div class="container" style="max-width: 100%">
                <div class="tile is-ancestor">
                    <div class="tile is-vertical is-12">
                        <div class="tile">
                            <div class="tile is-parent is-vertical">
                                <article class="tile is-child notification is-primary">
                                    <p class="title">Граф</p>
                                    <p class="subclass">Иерархическая кластеризация - Дендрограмма</p>
                                    <div class="content notification is-dark">
                                        <div class="content notification">
                                        {% for elem in figure %}
                                           {{elem|safe}}
                                        {% endfor %}
                                        </div>
                                        <form id="return" enctype="multipart/form-data" action="{% url 'index' %}" method="get">
                                            <div class="field is-grouped is-grouped-right">
                                                <button class="button is-danger" type="submit">Закрыть</button>
                                            </div>
                                        </form>
                                    </div>
                                </article>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="hero-foot">
        <footer class="footer">
            <div class="content has-text-centered">
                <p>
                    Демонстранционная версия дипломной работы, проект <strong>DATA</strong>. Роман Багаутдинов, <strong>КФУ - ВШ ИТИС</strong>.
                </p>
            </div>
        </footer>
    </div>
</section>
</body>
</html>